.navbar {
  font-size: 20px;
  margin: 30px 0 140px;

  & ul {
    display: flex;
    justify-content: flex-end;
  }

  & li {
    margin-left: 30px;
  }

  & a:hover {
    color: var(--color-hover-btn);
  }

  & .logoutBtn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: relative;
    top: -33px;
  }

  & .logoutBtn:hover {
    color: var(--color-hover-btn);
  }
}
