.workItem {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  margin-bottom: 31px;

  & .workItem_content {
    margin-left: 18px;
  }

  & h3 {
    font-size: 30px;
    margin-bottom: 12px;
  }

  & .date {
    background-color: #142850;
    color: white;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    padding: 2px 10px;
    margin-right: 26px;
  }

  & .categories {
    color: var(--color-light);
    font-size: 20px;
  }

  & p {
    margin-top: 17px;
  }
}
