@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

:root {
  --color-text: #21243d;
  --color-secondary: #ff6464;
  --color-hover-btn: #ff7e93;
  --color-light: #8695a4;
  --color-link: #00a8cc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// for active navlink
.active {
  color: var(--color-secondary);
}

// for open or close mobile menu
.activeMenu {
  transform: translateX(-100%);
}

ul,
li {
  list-style-type: none;
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
}

html {
  overflow-y: scroll;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
